/* .feature-plot-container {
    border: 1px solid #000000 !important;
    margin-top: 15px;
    margin-bottom: 15px;
    margin: 15px;
    border-radius: 5px;
    background-color: white;
    height: 180px
} */

.feature-plot-header {
    height: 20%;
    width: 100%
}

.feature-plot {
    height: 80%;
    width: 100%;
}

.feature-text {
    margin-left: 5px;
}

.pivot-button {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}